body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #F3F3F2;
    font-family: 'Raleway', sans-serif;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.contact-map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 200px;
        overflow: hidden;
}

.contact-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

#navbar-fox{
	background-color: #F07B2B;	
}

#navbar-fox a{
	color: black;
}

#navbar-fox .logo{
	height: 100%;
}

.navbar-brand{
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-toggle{
	border: 1px solid black;
}
h1{
	font-size: 24px;
}
.page-header{
	/*padding-top: 20px;*/
	padding-bottom: 0 !important;
	/*margin: 0;*/
}
.img-responsive{
	width: 100%;
}